
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <title>Chat Rooms</title>
    <style>

        #room-name-input, #room-name-submit {
            width: 300px;
            height: 40px;
            font-size: 18px;
            margin-bottom: 20px;
        }
    </style>
</head>
<body>
    <div id="container">
        <h2>Введите название чат-комнаты, в которую хотите войти</h2>
        <input id="room-name-input" type="text" placeholder="Введите название комнаты">
        <br>
        <input id="room-name-submit" type="button" value="Войти">
    </div>

    <script>
        document.querySelector('#room-name-input').focus();
        document.querySelector('#room-name-input').onkeyup = function(e) {
            if (e.key === 'Enter') {  // enter, return
                document.querySelector('#room-name-submit').click();
            }
        };

        document.querySelector('#room-name-submit').onclick = function(e) {
            var roomName = document.querySelector('#room-name-input').value;
            window.location.pathname = '/chat/' + roomName + '/';
        };
    </script>
</body>
</html>